body{font-family: Arial; margin:0; padding:0;}

#wrapper{width:960px; height:600px; margin:0 auto 0 auto;}
#school-name{width:662px; height:36px; margin:0px auto 30px 200px; font-size:23px; background-color:#fff; padding-left:0px;}
#menu{width:662px; margin:0px auto 0 200px; list-style:none; height:20px; padding:10px 10px 10px 0;}
	#menu li{float:left; margin-right:3px; display:block;}
	#current{background-color:#0A50CC !important; color:#fff !important;}
	#menu a{ background:#ccc; padding:10px 10px 4px 10px; text-decoration:none; color:#000; font-size:23px; -webkit-border-radius:10px 10px 0 0;}
	#menu a:hover{ background:#D6E3F7;}
#login-body{width:672px; height:350px; margin:0px auto 0 200px; padding-top:10px; background:url(../images/login-bg.jpg) no-repeat; }
#login-form{background-color:#fff; width:300px; margin:0 auto 0 auto; padding:20px; font-size:16px; -webkit-border-radius:10px;}
#login-form input{width:200px; height:25px; font-size:19px;}
#login-form form{width:220px; margin:0 auto 0 auto;}
#login-form div, #login-form span{padding:10px 10px 10px 10px;}
#login-btn{width:95px !important; height:34px !important;  margin-left:120px;  background:url(../images/login-btn.png) no-repeat; border:0; color:#fff; font-size:19px;}
#school-logo{position:absolute; top:70px;}
#error-msg{text-align:center; color:#F00; width:330px; margin:0 auto 10px auto; background-color:#FBD510; padding:5px; font-size:12px;}

