body{margin:0; padding:0; font-family:helvetica; font-size:14px; background-color:#eee; }
h1{font-weight:normal; margin:0; font-family:"Myriad Pro"; border-bottom:1px dotted #ccc; margin-bottom:20px;}
a{color:#000;}
.wrapper{width:1048px; margin:0 auto 0 auto; }
.header{ height:40px; background-color:#ccc; margin-bottom:10px; border-bottom:1px solid #666;}
.sidebar{float:left; width:20%; background-color: #ccc; padding:0 0 20px 0; border-radius:5px;}
.main{width:57%; min-height:600px; float:left; padding:10px; border:1px solid #ccc; margin-left:5px; background-color:#fff; }
.right{float:right;}
#user-logout{float: right; padding:10px;} 
.menu{margin:15px auto 5px auto; }
	.menu ul{margin:0 0 0 10px; padding:0; list-style:none;}
	.menu li{font-size:15px; margin-top:15px; width:170px; height:22px; padding:5px;}
	.menu a{display:block; color:#fff; text-decoration:none; padding:5px; /*font-weight:bold;*/ color:#333; border-radius:5px;}
	.menu a:hover{color:#000; background-color:#eee; }

	.menu span{width:39px; height:32px; float:left; display:block; margin-right:5px; }
	.menu span.dash{background:url('../images/iconsprite.png') no-repeat;}
	.menu span.students{background:url('../images/iconsprite.png') 0 -44px no-repeat;}
	.menu span.teachers{background:url('../images/iconsprite.png') 0 -80px  no-repeat;}
	.menu span.classes{background:url('../images/iconsprite.png') 0 -123px no-repeat;}
	.menu span.subjects{background:url('../images/iconsprite.png') 0 -161px no-repeat;}
	.menu span.timetable{background:url('../images/iconsprite.png') 0 -208px no-repeat;}
	.menu span.reports{background:url('../images/iconsprite.png') 0 -251px no-repeat;}
	.menu span.notices{background:url('../images/iconsprite.png') 0 -295px no-repeat;}
	.menu span.events{background:url('../images/iconsprite.png') 0 -340px no-repeat;}
	.menu span.myaccount{background:url('../images/iconsprite.png') 0 -383px no-repeat;}



.school-term{font-size:11px; padding:10px; margin-top:5px; display: block;}
.stats{width:180px; margin:20px auto 0 10px; border-top:1px solid #ddd; padding:10px 0 10px 0; }
#current{ font-weight:bold;}





#current-session{width:142px; height:55px; float:right; margin-right:15px; border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; background-color:#5B5B5B; text-align:center; font-size:14px;}
#current-session h3{margin:5px 0 0 0; padding:0; font-size:19px; font-weight:normal;}
.table-header{color:#eee; font-size:16px; background-color:#666; font-weight:normal; }
table{border:1px solid #ccc;}


.box{width:200px; background-color:#fff; margin-bottom:10px; padding:10px; margin-top:10px; border:1px solid #ccc;}
.box .title{font-size:16px; color:#333;}
.box a{font-size:14px; color:#000;}
.box a:hover{font-weight:bold;}
.box div{margin-top:10px;}
.hint{font-size:11px; color:#999;}
.rounded{/*border-radius:11px; -webkit-border-radius:10px;*/}

#settings-menu{height:20px; margin-bottom:5px;}
#settings-menu ul{list-style:none; margin:0; padding:0;}
#settings-menu li{float:left; margin-right:20px;}
#settings-menu a:hover{color:blue;}
#settings-menu #active a{color:blue;}


h2{margin:0 0 5px 0; padding:0; font-weight:normal;}
#student-profile-action{font-size:14px;}
#student-profile-action a{text-decoration:none; color:#000;}
#student-profile-action a:hover{text-decoration:underline; color:blue;}
#studentListContainer{width:98%; margin:0 auto 0 auto; background-color:#fff;}

#pager{width:96%; height:18px; margin:10px auto 0 auto; background-color:#fff; padding:5px;}
#pager ul{margin:0; padding:0; list-style:none; float:right;}
#pager li{float:left; margin-right:5px;}
#pager a{padding:5px;}
#pager a#active{background-color:#ccc; color:#FFF; text-decoration:none;}


/*** Teacher Portal ****/
#teacher-classes{margin:0; padding:0; list-style:none;}
#teacher-classes a{padding:10px; display:block;}
#teacher-classes a#active{background-color:#F0F0F0;}

