/* CSS Document */
body {  
	COLOR: #333;
	font-family:Arial;
	font-size:14px;
}

.login-box
{
margin-left:auto;
margin-right:auto;
width:400px;
height:250px;
border-bottom:1px solid #FFCC33 ;
padding-top:3px;
padding-left:5px;
padding-right:5px;
background-color: #EfEfEf; 
}

.login-box p{
font-size:20px;
border-bottom:1px solid #FFCC33;
}

.login-box input{
border:1px solid #CCCCCC;
height:20px;
width:200px;
}


#btn{
width:60px;
height:30px;
font-weight:bold;
border:1px solid #CCCCCC;
}

#header
{
	height:50px;
	border-bottom:1px solid #CCCCCC;
}

#footer
{
text-align:center;
color:#333;
font-size: 12px;
border-top:1px solid #CCCCCC;
}

#school
{
margin-left:auto;
margin-right:auto;
width:250px;
padding:0;
}

#select-login
{
margin:auto;
width:100%;
font-family:Arial;
/*text-align:center;*/
height:500px;

margin-left:auto;
margin-right:auto;
/*background-color:#ccc;*/
}

#select-login img
{

}


.login-type
{
width:250px;
height:30px;
border:1px solid #FFCC33;
background-color:#EfEfEf;
margin-left:auto;
margin-right:auto;
margin-bottom:5px;
/*text-align:center;*/
/*padding top, left, bottom, right*/
padding:10px 10px 0px;

}

.login-type a
{
font-size:16px;
text-decoration:none;
font-weight:bold;
color:#666666;
}

.login-type a:hover{
font-size:24px;
}



